@model string

<div class="card">
    <header class="card-header">
        <p class="card-header-title title is-centered">Here is a message!</p>
    </header>
    <div class="card-content has-text-centered">
        <p>@Model</p>
    </div>
</div>