@model ModelFun.Models.User

<div class="card">
    <header class="card-header">
        <p class="card-header-title title is-centered">Here is a user!</p>
    </header>
    <div class="card-content has-text-centered">
        <p>@Model.FirstName @Model.LastName</p>
    </div>
</div>