<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<section class="section has-background-dark">
		<div class="container">
			<div class="columns">
				<div class="column">
					<div class="card">
						<form action='/shows/create' method='post'">
							{% csrf_token %}
							<header class="card-header has-background-info-light">
								<p class="card-header-title is-centered is-size-3">Add a New Show</p>
							</header>
							<div class="card-content">
								<div class="field">
									<label class="label">Title</label>
									<div class="control">
										<input class="input" type="text" name="title" placeholder="eg Brooklyn Nine-Nine">
									</div>
								</div>
								<div class="field">
									<label class="label">Network</label>
									<div class="control">
										<input class="input" type="text" name="network" placeholder="eg NBC">
									</div>
								</div>
								<div class="field">
									<label class="label">Release Date</label>
									<div class="control">
										<input class="input" type="date" name="release_date">
									</div>
								</div>
								<div class="field">
									<label class="label">Description</label>
									<div class="control">
										<textarea class="textarea" name="description" placeholder="Plot info"></textarea>
									</div>
								</div>
								<div class="field">
									<div class="control">
										<button class="button is-link">Submit</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>