<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather API</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<section class="section has-background-dark">
		<p class="title has-text-white has-text-centered">Dojo Weather Forecast</p>
		<div class="container">
			<div class="box has-background-danger-light">
				<div class="tabs is-centered">
					<ul>
						<li routerLinkActive="is-active"><a [routerLink]="['/seattle']">Seattle WA</a></li>
						<li routerLinkActive="is-active"><a [routerLink]="['/sanjose']">San Jose CA</a></li>
						<li routerLinkActive="is-active"><a [routerLink]="['/burbank']">Burbank CA</a></li>
						<li routerLinkActive="is-active"><a [routerLink]="['/dallas']">Dallas TX</a></li>
						<li routerLinkActive="is-active"><a [routerLink]="['/washington']">Washington D.C.</a></li>
						<li routerLinkActive="is-active"><a [routerLink]="['/chicago']">Chicago IL</a></li>
					</ul>
				</div>
				<div class="box">
					<div class="content">
						<router-outlet></router-outlet> 
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>