<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <div class="block"></div>
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="projects">Projects</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>
    <section class="section has-background-link-dark">
        <div class="columns is-multiline">
            <div class="column">
                <div class="box">
                    <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Bragi Books</strong> <small>Python/Django</small>
                                <br>
                                An audiobook library cleanup & management docker, written in Django. Using m4b-merge for the backend Audible metadata and file merging/editing.
                            </p>
                        </div>
                    </div>
                </article>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>m4b-merge</strong> <small>Python</small>
                                <br>
                                A tool to standardize audiobook files into single m4b files with clean metadata, cover art, and rich chapters, sourced from Audible.
                            </p>
                        </div>
                    </div>
                </article>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Madlibber</strong> <small>MEAN</small>
                                <br>
                                Madlibs game with word-type validation using WordsAPI and template generation from Madlibz. Built on the MEAN stack, using Bulma for a fully responsive frontend.
                            </p>
                        </div>
                    </div>
                </article>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Mirmir</strong> <small>Ruby on Rails</small>
                                <br>
                                A tool written in Ruby on Rails, to seed MusicBrainz track relationships with rich API data provided by Jaxsta.
                            </p>
                        </div>
                    </div>
                </article>
                </div>
            </div>
        </div>
    </section>
</body>
</html>