<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ this_book.title }}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<nav class="navbar" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/books">
				<p class="has-text-weight-bold is-size-4">Favorite Books</p>
			</a>
		</div>
		
		<div class="navbar-end">
			<div class="navbar-item">
				<p>Welcome, {{ this_user.first_name }}</p>
			</div>
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-warning" href="/logout">
						Log out
					</a>
				</div>
			</div>
		</div>
	</nav>
	<section class="section has-background-warning-dark">
		<div class="container">
			{% if messages %}
			<div class="notification is-danger">
				{% for message in messages %}
					<p>
						{{ message }}
					</p>
				{% endfor %}
			</div>
			{% endif %}
			<div class="block"></div> 
		</div>
		<div class="container">
			<div class="columns">
				<div class="column">
					<div class="box">
						<div class="content">
							{% if this_user.id == this_book.uploaded_by.id %}
							<form action="/books/{{this_book.id}}/update_book" method="POST">
								{% csrf_token %}
								<div class="field">
									<div class="control">
										<input class="input" type="text" name="book_title" value="{{this_book.title}}">
									</div>
								</div>
								{% else %}
								<h1>{{ this_book.title }}</h1>
								{% endif %}
								<p>Added by: {{ this_book.uploaded_by.first_name }} {{ this_book.uploaded_by.last_name }}</p>
								<p>Added on: {{ this_book.created_at }}</p>
								<p>Last updated on:  {{ this_book.updated_at }}</p>
								<span>Description: </span>
								<!-- if owner -->
								{% if this_user.id == this_book.uploaded_by.id %}
								<textarea class="textarea" name="book_description">{{ this_book.description }}</textarea>
								<div class="block"></div>
								<button class="button">Update</button>
								<button class="button is-danger"><a style="color: #fff;" href="/books/{{this_book.id}}/delete_book">Delete</a></button>
							</form>
							{% else %}
							<!-- if guest -->
							<blockquote>{{ this_book.description }}</blockquote>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="column">
					<div class="box">
						<div class="content">
							<h3 class="title">Users Who Like This Book</h3>
							<ul>
								{% for user in this_book.users_who_like.all %}
								<li>{{ user.first_name }} {{ user.last_name }} {% if this_user.id == user.id %}<a href="/books/{{this_book.id}}/un_favorite">Un-favorite</a>{% endif %}</li>
								{% endfor %}
							</ul>
							{% if not this_user in this_book.users_who_like.all %}
							<a href="/books/{{this_book.id}}/add_favorite">Add to favorites</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>