<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Favorite Books</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<nav class="navbar" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/books">
				<p class="has-text-weight-bold is-size-4">Favorite Books</p>
			</a>
		</div>
		
		<div class="navbar-end">
			<div class="navbar-item">
				<p>Welcome, {{ this_user.first_name }}</p>
			</div>
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-warning" href="/logout">
						Log out
					</a>
				</div>
			</div>
		</div>
	</nav>
	<section class="section has-background-warning-dark">
		<div class="container">
			{% if messages %}
			<div class="notification is-danger">
				{% for message in messages %}
					<p>
						{{ message }}
					</p>
				{% endfor %}
			</div>
			{% endif %}
			<div class="block"></div> 
		</div>
		<div class="container">
			<div class="columns">
				<div class="column">
					<div class="box">
						<h2>Add a Favorite Book</h2>
						<form action="/books/new_book" method="POST">
							{% csrf_token %}
							<div class="field">
								<label class="label">Title</label>
								<div class="control">
									<input class="input" type="text" name="book_title" placeholder="e.g. Harry Potter" required>
								</div>
							</div>
							<div class="field">
								<label class="label">Description</label>
								<div class="control">
									<textarea class="textarea" name="book_description" placeholder="e.g. Harry lives in a depressing world"></textarea>
								</div>
							</div>
							<button class="button is-primary">Add</button>
						</form>
					</div>
				</div>
				<div class="column">
					<div class="box">
						<div class="content">
							<h2 class="title">All Books</h2>
							{% for book in all_books %}
							<a href="/books/{{book.id}}"><span class="is-size-4 has-text-weight-medium">{{ book.title }}</span></a>
							<p>(added by {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }})</p>
							{% if this_user in book.users_who_like.all %}
							<p class="is-italic">this is one of your favorites</p>
							{% else %}
							<a href="/books/{{book.id}}/add_favorite">Add to favorites</a>
							<div class="block"></div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>