<nav class="navbar" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <p class="has-text-weight-bold is-size-4">Products & Categories</p>
        </a>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-info" href="/">
                    Products
                </a>
                <a class="button is-link" href="/categories">
                    Categories
                </a>
            </div>
        </div>
    </div>
</nav>