<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Restful Tasks</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<section class="section has-background-dark">
		<div class="container">
			<p class="title has-text-white has-text-centered">Restful Tasks API</p>
			<div class="columns">
				<div class="column">
					<div class="box">
						<div class="content">
							<p class="title">All the Tasks</p>
							<div *ngIf="tasks">
								<button class="button is-primary is-uppercase" (click)="onButtonClick($event)">Get all tasks</button>
								<ul>
									<li class="" *ngFor='let task of tasks; let i = index'>{{task.title}} <button class="button is-info is-uppercase" (click)="onButtonClickParam(i)">Details</button></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="num >= 0" class="box">
				<ul>
					<ng-container *ngFor='let task of tasks; let i = index'>
						<li *ngIf="i == num">
							<p class="title">{{task.title}}</p>
							<p class="subtitle">{{task.description}}</p>
						</li>
					</ng-container>
				</ul>
			</div>
		</div>
	</section>
</body>
</html>