@model User
<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="content box">
            <h2>Successfully registered!</h2>
            <p>First Name:  @Model.FirstName</p>
            <p>Last Name:  @Model.LastName</p>
            <p>Age: @Model.Age</p>
            <p>Email: @Model.Email</p>
        </div>
    </div>
</div>