<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dojo Wall</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<nav class="navbar" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/wall">
				<p class="has-text-weight-bold is-size-4">Dojo Wall</p>
			</a>
		</div>
		
		<div class="navbar-end">
			<div class="navbar-item">
				<p>Welcome, {{ this_user.first_name }}</p>
			</div>
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-warning" href="/logout">
						Log out
					</a>
				</div>
			</div>
		</div>
	</nav>
	<section class="section has-background-link-dark">
		<div class="container">
			{% if messages %}
			<div class="notification is-danger">
				{% for message in messages %}
					<p>
						{{ message }}
					</p>
				{% endfor %}
			</div>
			{% endif %}
			<div class="block"></div>
		</div>
		<div class="container">
			<div class="box">
				<form action="/wall/make_post" method="POST">
					{% csrf_token %}
					<div class="field">
						<label class="label is-size-5">Post a message</label>
						<div class="control">
							<textarea class="textarea" name="post_contents" placeholder="e.g. Hello world"></textarea>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<button class="button is-link">Post a message</button>
						</div>
					</div>
				</form>
			</div>
			<div class="block"></div>
			{% for post in all_posts %}
			<div class="card">
				<div class="card-content">
					<div class="label is-size-6">
						{{ post.user.first_name }} {{ post.user.last_name }} - {{ post.created_at.date }}
					</div>
					<div class="content">
						<p>{{ post.message }}</p>
						<ul style="list-style-type: none">
							{% for comment in post.comments.all %}
							<li>
								<div class="label is-size-6">
									{{ comment.user.first_name }} {{ comment.user.last_name }} - {{ comment.created_at.date }} {% if comment.user.id == this_user.id %}<a class="has-text-danger" href="/wall/delete/comment/{{comment.id}}">Delete</a>{% endif %}
								</div>
									<div class="content">
										<p>{{ comment.comment }}</p>
									</div>
									<div class="block"></div>
								{% endfor %}
							</li>
							<li>
								<form action="/wall/make_comment/{{post.id}}" method="POST">
									{% csrf_token %}
									<div class="field">
										<label class="label is-size-5">Comment</label>
										<div class="control">
											<textarea class="textarea" name="comment_contents" placeholder="e.g. Hello world"></textarea>
											<input type="hidden" name="parent_id" value={{post.id}}>
										</div>
									</div>
									<div class="field">
										<div class="control">
											<button class="button is-link">Comment</button>
										</div>
									</div>
								</form>
							</li>
						</ul>
					</div>
				</div>
				{% if post.user.id == this_user.id %}
				<div class="card-footer">
					<a href="/wall/delete/post/{{post.id}}"><button class="button is-danger">Delete post</button></a>
				</div>
				{% endif %}
			</div>
			<div class="block"></div>
			{% endfor %}
		</div>
	</section>
</body>
</html>