<partial name="StatsPartial" view-data="ViewData" />
<div class="card">
    <div class="card-content has-text-centered has-text-weight-bold is-size-1">
        <partial name="ImageDisplayPartial" view-data="ViewData" />
        <p class="subtitle">@ViewBag.Message</p>
    </div>
    <footer class="card-footer">
        <partial name="ButtonsPartial" view-data="ViewData" />
    </footer>
</div>