<nav class="level has-text-light">
    <div class="level-item">
        <p>Fullness: @ViewBag.Fullness</p>
    </div>
    <div class="level-item">
        <p>Happiness: @ViewBag.Happiness</p>
    </div>
    <div class="level-item">
        <p>Meals: @ViewBag.Meals</p>
    </div>
    <div class="level-item">
        <p>Energy: @ViewBag.Energy</p>
    </div>
</nav>