<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Form</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<section class="section has-background-link-dark">
		<p class="title has-text-white has-text-centered">Login/Reg</p>
		<div class="container">
			<% if flash[:errors] %>
				<div class="notification is-danger">
					<ul>
						<% flash[:errors].each do |error| %>
							<li><%= error %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			<div class="columns">
				<div class="column">
					<div class="card has-background-info-light">
						<form action='/users' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<header class="card-header has-background-white">
								<p class="card-header-title is-centered is-size-3">Login</p>
							</header>
							<div class="card-content">
								<div class="field">
									<label class="label">Email:</label>
									<div class="control">
										<input class="input" type="email" id="Email" name="user[email]" placeholder="eg jsmith@example.com">
									</div>
								</div>
								<div class="field">
									<label class="label">Password</label>
									<div class="control">
										<input class="input" type="password" id="Password" name="user[password]">
									</div>
								</div>
								<div class="field has-text-centered">
									<div class="control">
										<button class="button is-link">Log In</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>