<div class="columns">
    <div class="column">
        <partial name="RegisterPartial" view-data="ViewData" />
    </div>
    <div class="column">
        <partial name="LoginPartial" view-data="ViewData" />
    </div>
</div>