/*CSS reset settings here*/
*{ 
    margin: 1%;
    padding: 0px;
    background-color: silver;
   }
   #wrapper{
    width: 950px;
    margin: 0px auto;
   }
   #header{
    min-height: 150px;
    background-color: green;
    display:block;
    margin-bottom: -1%;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: -10px -10px -313px 10px;
   }
   #main_content{
    min-height: 400px;
    width: 72%;
    background-color: red;
    display: inline-block;
    margin-left: 25%;
    padding: 8px;
   }
   .subcontents{
    min-height: 200px;
    width: 205px;
    background-color: yellow;
    margin: 4px;
    display:inline-block;
   }
   #advertisement{
    min-height: 120px;
    width: 94%;
    background-color: purple;
    margin: 3% 0% 0% 0.7%;
   }