<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cake Squad</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<section class="section has-background-grey">
		<div class="container">
			<div class="box has-background-danger-light">
				<div class="content">
					<h2 class="title has-text-grey-dark">Cake Squad</h2>
					<div class="columns is-vcentered">
						<div class="column is-8">
							<div class="box has-background-link-light">
								<p class="title">Add a Cake!</p>
								<form (submit)="onSubmit()">
									<div class="field">
										<label class="label">Baker Name</label>
										<div class="control">
											<input class="input" type="text" name="baker" placeholder="e.g. Baskin Robbins" [(ngModel)]="newCake.baker">
										</div>
									</div>
									<div class="field">
										<label class="label">IMG URL</label>
										<div class="control">
											<input class="input" type="url" name="img" placeholder="e.g. https://example.com/image.jpg" [(ngModel)]="newCake.img">
										</div>
									</div>
									<div class="field">
										<label class="label">Description</label>
										<div class="control">
											<textarea class="textarea" type="url" name="desc" placeholder="e.g. A fun-filled cake with a colorful sweet surprise will be the highlight of any party!
											" [(ngModel)]="newCake.desc"></textarea>
										</div>
									</div>
									<button class="button is-primary" type="submit" name="submit">Submit</button>
								</form>
								<div class="block"></div>
							</div>
						</div>
						<div class="column is-4 has-background-success-light" style="height:800px; overflow:auto">
							<app-details (cakeEvent)="cakeEventHandler($event)" [cakesToShow]="cakes.reverse()"></app-details>
						</div>
					</div>
					<app-single-details *ngIf="selectedCake" [cakeToShow]="selectedCake"></app-single-details>
				</div>
			</div>
		</div>
	</section>
</body>
</html>