<p class="title has-text-white has-text-centered">Login/Reg</p>
<div class="container">
	<div class="columns">
		<div class="column">
			<div class="card has-background-info-light">
				<form action='/users' method='post'>
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="form_action" value="register">
					<header class="card-header has-background-white">
						<p class="card-header-title is-centered is-size-3">Register</p>
					</header>
					<div class="card-content">
						<div class="field">
							<label class="label">First Name:</label>
							<div class="control">
								<input class="input" type="text" id="Name" name="user[first_name]" placeholder="eg John">
							</div>
						</div>
						<div class="field">
							<label class="label">Last Name:</label>
							<div class="control">
								<input class="input" type="text" id="Name" name="user[last_name]" placeholder="eg Smith">
							</div>
						</div>
						<div class="field">
							<label class="label">Email:</label>
							<div class="control">
								<input class="input" type="email" id="Email" name="user[email]" placeholder="eg jsmith@example.com">
							</div>
						</div>
						<div class="field">
							<div class="label is-normal">
								<label class="label">Location</label>
							</div>
							<div class="field-body">
								<div class="field">
									<div class="control is-expanded">
									<input class="input" type="text" name="user[city]" placeholder="City">
									</div>
								</div>
								<div class="field is-narrow">
									<div class="control is-expanded">
										<div class="select is-fullwidth">
											<select name="user[state]">
												<%= options_for_select([ "AL", "AK", "AR", "AZ", "CA", "CO", "CT", "DC", "DE", "FL", "GA", "HI", "IA", "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO", "MS", "MT", "NC", "NE", "NH", "NJ", "NM", "NV", "NY", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WI", "WV", "WY" ]) %>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="field">
							<label class="label">Password</label>
							<div class="control">
								<input class="input" type="password" id="Password" name="user[password]">
							</div>
						</div>
						<div class="field">
							<label class="label">Password Confirmation</label>
							<div class="control">
								<input class="input" type="password" id="Password_Confirmation" name="user[password_confirmation]">
							</div>
						</div>
						<div class="field has-text-centered">
							<div class="control">
								<button class="button is-link">Join</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="column">
			<div class="card has-background-info-light">
				<form action='/users' method='post'>
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="form_action" value="login">
					<header class="card-header has-background-white">
						<p class="card-header-title is-centered is-size-3">Login</p>
					</header>
					<div class="card-content">
						<div class="field">
							<label class="label">Email:</label>
							<div class="control">
								<input class="input" type="email" id="Email" name="user[email]" placeholder="eg jsmith@example.com">
							</div>
						</div>
						<div class="field">
							<label class="label">Password</label>
							<div class="control">
								<input class="input" type="password" id="Password" name="user[password]">
							</div>
						</div>
						<div class="field has-text-centered">
							<div class="control">
								<button class="button is-link">Log In</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>