@model Dish

<a href="/">Home</a>
<div class="card">
    <div class="card-content has-text-centered has-text-weight-bold is-size-1">
        <p class="subtitle">Add a new Dish!</p>
        <form asp-action="Create" asp-controller="Home" method='post' class="box">
            <div class="field">
                <label asp-for="Chef" class="label"></label>
                <div class="control">
                    <span class="has-text-danger" asp-validation-for="Chef"></span>
                    <input class="input" type="text" asp-for="Chef" placeholder="eg John Smith">
                </div>
            </div>
            <div class="field">
                <label asp-for="Name" class="label"></label>
                <div class="control">
                    <span class="has-text-danger" asp-validation-for="Name"></span>
                    <input class="input" type="text" asp-for="Name" placeholder="Mac n cheese">
                </div>
            </div>
            <div class="field">
                <label asp-for="Calories" class="label"></label>
                <div class="control">
                    <span class="has-text-danger" asp-validation-for="Calories"></span>
                    <input class="input" type="number" asp-for="Calories">
                </div>
            </div>
            <div class="field">
                <label asp-for="Tastiness" class="label"></label>
                <div class="select">
                    <span class="has-text-danger" asp-validation-for="Tastiness"></span>
                    <select asp-for="Tastiness" id="tastiness">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label asp-for="Description" class="label"></label>
                <span class="has-text-danger" asp-validation-for="Description"></span>
                <textarea class="textarea" placeholder="e.g. Hello world" asp-for="Description"></textarea>
            </div>
        <button class="button is-primary" type="submit">Add Dish</button>
    </form>
    </div>
    <footer class="card-footer">
    </footer>
</div>