@model Chef

<div class="card">
    <div class="card-content has-text-centered">
        <p class="title">Add a Chef!</p>
        <form asp-action="Create" asp-controller="Home" method='post' class="box">
            <div class="field">
                <label asp-for="FirstName" class="label"></label>
                <div class="control">
                    <span class="has-text-danger" asp-validation-for="FirstName"></span>
                    <input class="input" type="text" asp-for="FirstName" placeholder="John">
                </div>
            </div>
            <div class="field">
                <label asp-for="LastName" class="label"></label>
                <div class="control">
                    <span class="has-text-danger" asp-validation-for="LastName"></span>
                    <input class="input" type="text" asp-for="LastName" placeholder="Smith">
                </div>
            </div>
            <div class="field">
                <label asp-for="BirthDate" class="label"></label>
                <div class="control">
                    <span class="has-text-danger" asp-validation-for="BirthDate"></span>
                    <input class="input" type="date" asp-for="BirthDate">
                </div>
            </div>
            <footer class="card-footer">
                <div class="card-footer-item">
                    <button class="button is-primary" type="submit">Add Chef</button>
                </div>
            </footer>
        </form>
    </div>
</div>