a {
    color: rgb(85, 223, 223);
}

body {
    width: 970px;
    background-color: rgb(49, 49, 136);
}

#bodycontent {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

#code {
    color: rgb(113, 113, 238);
}

#header {
    background-color: rgb(255, 60, 60);
    color: rgb(228, 226, 226);
    padding: 0px;
    border-radius: 7px;
    margin: 8px;
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 18px;
}

#homelink {
    margin-left: 22px;
}

#sidebar {
    background-color: teal;
    border-radius: 20px;
    max-height: 205px;
    max-width: 2200px;
    padding: 12px;
    white-space: nowrap
}

#feed {
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
}

#notification {
    color: rgb(218, 218, 218);
    display: flex;
    background-color: rgb(94, 94, 94);
    border-radius: 20px;
    padding: 5px 20px;
}

.col1 {
    flex: 1;
    color: white;
}

.col2 {
    flex: 5;
}

ul {
    margin-top: 0px;
    margin-left: -10px;
    margin-right: 5px;
}