<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body>
	<section class="hero is-primary">
		<div class="hero-body">
			<p class="title">
				Index Page
			</p>
		</div>
	</section>
	<div class="block"></div>
	<section>
		<div class="container">
			<div class="columns">
				<div class="column is-one-third">
					<form action='/users' method='post' class="box">
						<div class="content">
							<h2>Create a User</h2>
						</div>
							<div class="field">
								<label class="label">Name</label>
								<div class="control">
									<input class="input" type="text" name="name" placeholder="eg John Smith">
								</div>
							</div>
							<div class="field">
								<label class="label">Email</label>
								<div class="control">
									<input class="input" type="text" name="email" placeholder="eg johnsmith@example.com">
								</div>
							</div>
						<button class="button is-primary">Submit</button>
					</form>
				</div>
				<div class="column is-two-thirds">
					<div class="card">
						<div class="card-content">
							<p class="title is-4">Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
							<p class="subtitle">Samuel L. Jackson</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="block"></div>
	<footer class="footer py-6">
		<div class="content has-text-centered">
			<p>
				<strong>POST test, by <a href="https://github.com/djdembeck">David Dembeck</a></strong>
			</p>
		</div>
	</footer>
</body>
</html>