<a [routerLink]="['/']" class="is-size-5">Home</a>
<p class="title" *ngIf="editAuthor">Provide a quote by {{editAuthor.name}}</p>
<div class="container">
	<div class="box">
		<form (submit)="onSubmit()">
			<div class="field">
				<label class="label">Name</label>
				<div class="control">
					<input
						class="input"
						type="text"
						name="quote_content"
						*ngIf="editAuthor"
						[(ngModel)]="newQuote.content"
						placeholder="e.g. It is a good thing for an uneducated man to read books of quotations."
					/>
				</div>
			</div>
			<input class="button is-success" type="submit" value="Submit" />
		</form>
	</div>
</div>
